
/*--Bottom bar----*/
.bottomContainer{
	position: fixed;
  border-color: #414141;
  border-top-style: solid;
  padding-top: 5px;
  height: auto;
  max-width: 100%;
  background-color:black;
  bottom: 0;
	width: 100%;
}
/*---end----*/

/*---responsive------*/
@media screen and (max-width:1366px) {

	.bottomContainer{
		position: fixed;
	  border-color: #414141;
	  border-top-style: solid;
	  padding-top: 5px;
	  height: auto;
	  max-width: 100%;
	  background-color:black;
	  padding-bottom: 25px;
		bottom: 0;
		width: 100%;
	}

}

@media screen and (max-width:400px) {

	.bottomContainer{
		position: fixed;
	  border-color: #414141;
	  border-top-style: solid;
	  padding-top: 5px;
	  height: auto;
	  max-width: 100%;
	  background-color:black;
	  padding-bottom: 25px;
		bottom: 0;
		width: 100%;
	}


}
