
/*--Bottom bar----*/
.bottomContainer{
	position: absolute;
  padding-top: 5px;
  height: auto;
  max-width: 100%;
  background-color:#212121;
  bottom: 0;
	width: 100%;
	opacity: 0.925;
	padding-bottom: 10px;
}
/*---end----*/

/*---responsive------*/
@media screen and (max-width:1366px) {

	.bottomContainer{
		position: absolute;
	  padding-top: 5px;
	  height: auto;
	  max-width: 100%;
	  background-color:#212121;
	  padding-bottom: 25px;
		bottom: 0;
		width: 100%;
		opacity: 0.90;
	}

}

@media screen and (max-width:400px) {

	.bottomContainer{
		position: absolute;
	  padding-top: 5px;
	  height: auto;
	  max-width: 100%;
	  background-color:#212121;
	  padding-bottom: 10px;
		bottom: 0;
		width: 100%;
		opacity: 0.85;
	}


}
