body{
  margin: 00px 0 0 0;
  width: 100%;
  background-color: #121212;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:16px;
}

h1{
  color:white;
  font-size: 30px;
}

h2{
  color:white;
  font-size: 20px;
}

h3{
  color:white;
  font-size: 18px;
}

p{
  color:white;
  font size: 16px;
}

a:link{
  color:white;
}

.theframe{
	height:300px;
	width:600px;
	max-width:100%;
  padding-bottom:25px;
}

.mainImage{
	height: 200px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

/*--------------------------------------------*/
/* images */

.image{
  height: auto;
  max-width: 100%;
}

.image2{
  width: auto;
  height: 100px;
  max-width: 100%;
}

.textFont{
  font-size:auto;
  max-width: 100%;
  color: white;
}

/* Responsive */
@media screen and (max-width:1366px) {
  body{
    font-size: 12px;
  }

  h1{
    font-size: 20px;
  }

  h2{
    font-size: 18px;
  }

  h3{
    font-size: 16px;
  }

  .MyNameBar{
    font-size:30px;
  }

  .columns {
    width: 100%;
    float: left;
    padding: 5px;
  }

  .rowContainer{
    padding-right: 50px;
    padding-bottom: 625px;
    padding-left: 50px;
    max-width: 100%;
    background-color:#121212;
  }

  .rowContainer:after {
    content: "";
    display: table;
    clear: both;
  }

  .Containertype3{
    padding-top: 25px;
    padding-bottom: 225px;
    height: 100px;
    max-width: 100%;
  }

  .image2{
    width: auto;
    height: 50px;
    max-width: 100%;
  }
}
